<!doctype html>
<html lang="en">
<!-- Copied from http://104.237.146.83/templates/ace/demo/html/starter.html by Cyotek WebCopy 1.7.0.600, Thursday, September 10, 2020, 6:05:30 PM -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <!-- Removed by WebCopy --><!--<base href="../">--><!-- Removed by WebCopy -->

    <title>Starter - Ace Admin</title>

    <!-- include common vendor stylesheets & fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/css/regular.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/css/brands.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/css/solid.min.css">



    <!-- include vendor stylesheets used in "Starter" page. see "application/views/default/pages/partials/starter/@vendor-stylesheets.hbs" -->


    <!-- include fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap">



    <!-- ace.css -->
    <link rel="stylesheet" type="text/css" href="../dist/css/ace.min.css">


    <!-- favicon -->
    <link rel="icon" type="image/png" href="../assets/favicon.png">

    <!-- "Starter" page styles, specific to this page for demo only -->
  </head>

  <body>
    <div class="body-container">
      <div class="main-container">

        <!-- Sidebar -->
        <div id="sidebar" class="sidebar sidebar-fixed expandable sidebar-color sidebar-dark" data-backdrop="true" data-dismiss="true" data-swipe="true">
          <div class="sidebar-inner">

            <div class="ace-scroll flex-grow-1 mt-1px" data-ace-scroll="{}">

              <div class="sidebar-section-item m-0 fadeable-left fadeable-top">
                <div class="fadeinable">
                  <!-- this will be shown when sidebar is collapsed -->
                  <div class="py-2 mx-1">
                    <a class="navbar-brand text-140">
                      <i class="fa fa-leaf text-success-l2"></i>
                    </a>
                  </div>
                </div>

                <div class="fadeable w-100 ">
                  <!-- this will be shown when sidebar is full-width -->
                  <div class="py-1 py-xl-2 text-center mx-3">
                    <a class="navbar-brand ml-n2 text-140 text-white" href="#">
                      <i class="fa fa-leaf mr-1 text-success-l1"></i>
                      ACE <span>App</span>
                    </a>
                  </div>
                </div>
              </div><!-- /.sidebar-section-item  -->


              <!-- optional `nav` tag -->
              <nav class="pt-3" aria-label="Main">
                <ul class="nav flex-column has-active-border">
                  <li class="nav-item">
                    <a class="nav-link" href="dashboard.html">
                      <i class="nav-icon fa fa-home"></i>
                      <span class="nav-text fadeable">Home</span>
                    </a>
                  </li>

                  <li class="nav-item active">
                    <a class="nav-link" href="#">
                      <i class="nav-icon fa fa-edit"></i>
                      <span class="nav-text fadeable">Starter</span>
                    </a>
                  </li>
                </ul>
              </nav>

            </div><!-- /.ace-scroll -->



          </div>
        </div>


        <!-- Main Content (includes Navbar and Page Content) -->
        <div class="main-content">
          <!-- Navbar -->
          <nav class="navbar navbar-sm navbar-expand-lg navbar-fixed navbar-white">
            <div class="navbar-inner brc-grey-l2 shadow-md">

              <!-- this button collapses/expands sidebar in desktop mode -->
              <button type="button" class="btn btn-burger align-self-center d-none d-xl-flex mx-2 bgc-h-blue-l3" data-toggle="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="true" aria-label="Toggle sidebar">
                <span class="bars text-default"></span>
              </button>

              <div class="d-flex h-100 align-items-center justify-content-xl-between">
                <!-- this button shows/hides sidebar in mobile mode -->
                <button type="button" class="btn btn-burger static burger-arrowed collapsed d-flex d-xl-none ml-2 bgc-h-blue-l3" data-toggle-mobile="sidebar" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
                  <span class="bars text-default"></span>
                </button>

                <a class="navbar-brand d-xl-none ml-2 text-grey-d2" href="#">
                  ACE App
                </a>

                <div class="d-none d-xl-inline-block">
                  <span class="text-secondary-d2">Starter Template</span>
                </div>
              </div>


              <!-- .navbar-menu toggler -->
              <button class="navbar-toggler mx-1 p-25" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navbar menu">
                <i class="fa fa-user text-primary"></i>
              </button>


              <div class="ml-auto mr-lg-2 navbar-menu collapse navbar-collapse navbar-backdrop" id="navbarMenu">
                <div class="navbar-nav">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link dropdown-toggle mr-1px" href="#">
                        Link
                      </a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link dropdown-toggle pl-lg-3 pr-lg-4" href="#">
                        <i class="fa fa-bell mr-lg-2"></i>
                        <span class="badge badge-info badge-pill">3</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div><!-- .navbar-menu -->


            </div><!-- .navbar-inner -->
          </nav>

          <!-- Page Content -->
          <div class="page-content">
            <div class="card bcard">
              <div class="card-body">
                Basic empty page
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- include common vendor scripts used in demo pages -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>



    <!-- include vendor scripts used in "Starter" page. see "application/views/default/pages/partials/starter/@vendor-scripts.hbs" -->



    <!-- include ace.js -->
    <script src="../dist/js/ace.min.js"></script>



    <!-- demo.js is only for Ace's demo and you shouldn't use it -->
    <script src="../assets/js/demo.min.js"></script>



    <!-- "Starter" page script to enable its demo functionality -->

  </body>

<!-- Copied from http://104.237.146.83/templates/ace/demo/html/starter.html by Cyotek WebCopy 1.7.0.600, Thursday, September 10, 2020, 6:05:30 PM -->
</html>